/* Title Slide */

.reveal #title {
  text-align: center;
}

.reveal #title hr {
  display: none;
}

.reveal #title .logo {
  font-size: 20px;
  float: none;
  position: absolute;
  transform: translate(-50%, 490px);
}

#link_presentation {
  font-size: 20px;
  font-weight: 300;
  top: 100px;
}

.reveal #title img {
  position: absolute;
  opacity: 0.8;
  left: 50%;
}

#logo_ua {
  transform: translate(-220%, -95%);
  width: 150px;
}

#logo_ucla {
  transform: translate(100%, -180%);
  width: 180px;
}

.reveal #title h1 {
  z-index: 5;
  position: relative;
  transform: translateY(110px);
  text-shadow: 2px 2px 15px #ffffff;
}

.reveal #title h2 {
  font-size: 25px;
  z-index: 5;
  position: relative;
  transform: translateY(130px);
  text-shadow: 2px 2px 10px #ffffff;
}

.reveal #title p {
  transform: translateY(200px);
  line-height: 1.2em;
  font-weight: 300;
}

.reveal #title .affiliation {
  margin-bottom: 20px;
  color: gray;
  font-weight: 300;
  font-size: 16px;
}

/* Deep-Dive Slides */

.reveal .vertical h1 {
  margin: 10px 0 20px;
  display: inline-block;
}

.reveal .vertical h2 {
  margin: -15px 0 20px;
}

/* Figures */

.reveal iframe,
.graphs-set {
  height: 500px;
}

.graphs-row {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

.reveal .graphs-set-all .graphs-row {
  height: 33%;
}

.reveal .graphs-set img {
  border: silver 1px solid;
  background-color: white;
  height: 90%;
  transition: all 0.3s ease-in-out;
}

.reveal .graphs-set-wide img {
  height: 75%;
}

.reveal .graphs-set-all img {
  height: 85%;
}

.reveal .graphs-set img:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

/* Modals */

.reveal div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px;
  left: 50%;
  top: 48%;
  background-color: white;
  border: solid 1px gray;
  transform: translate(-50%, -50%);
  transition: all .2s;
}

.modal h3 {
  text-align: center;
  font-size: 26px;
  margin: 0 30px 35px 20px;
  line-height: 1em;
  letter-spacing: -1px;
}

.modal p {
  margin: 0;
  color: gray;
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 300;
}

.modal img {
  width: 600px;
}

.horizontal .modal h3,
.horizontal .modal p {
  display: none;
}

.table .modal h3,
.table .modal p {
  display: inherit;
}

.table .modal h3 {
  padding: 0 100px;
}

.table .modal img {
  width: 800px;
}

.modal .close {
  float: right;
  margin-top: -5px;
  opacity: 0.6;
}

.modal .close:hover {
  cursor: pointer;
  opacity: 1;
}

/* Tables */

#table-metro-count td:nth-of-type(4) {
  width: 12%;
}

#table-metro-count td:nth-of-type(4) ~ td {
  width: 10%;
}

#table-metro-count tbody td:nth-of-type(3) {
  font-weight: 600;
}

#table-metro-count tbody td:nth-of-type(3) ~ td {
  color: gray;
}

#table-metro-count thead td:nth-of-type(4) {
  text-decoration-color: #42a9c6;
}

#table-metro-count thead td:nth-of-type(5) {
  text-decoration-color: #d16822;
}

#table-metro-count thead td:nth-of-type(6) {
  text-decoration-color: #30af37;
}

#table-metro-count thead td:nth-of-type(7) {
  text-decoration-color: #8030d1;
}

/* References */

#references {
  font-size: 14px;
}

#references p {
  padding-left: 25px;
  text-indent: -22px;
  line-height: 1.5em;
  padding-bottom: 6px;
  font-weight: 300;
}

#references a[href^='#'] {
  color: #AA0000;
  pointer-events: none;
}

/* Arrow Controls */

.slide-horizontal .reveal .controls .navigate-down,
.slide-vertical .reveal .controls .navigate-left,
.slide-vertical .reveal .controls .navigate-right {
  display: none;
}
